## Start Learning at 3/11/2024

In [1]:
print("i am Saeed Soodi and i want to use ML by Python")

i am Saeed Soodi and i want to use ML by Python

## Tuples

In [2]:
Tuple = (1,2,3,4,5,6,7) # like arrays
Tuple

(1, 2, 3, 4, 5, 6, 7)

In [3]:
Tuple[1]

2

## Lists

In [4]:
List =[ 1,2,3,4,5] #like arrays 
List
List[1] # show item index
List[2] = 2 # change item index
print(List , List[1])

[1, 2, 2, 4, 5] 2

## Dictionary

In [5]:
Car ={
    "brand":"BMW",
    "color":"Yellow",
    "year":"2027",
    "owner":"Saeed Soodi"
}

In [6]:
age = Car["year"]
print(age)

2027

In [7]:
Car ={
    "brand":"BMW",
    "color":"Yellow",
    "year":"2027",
    "owner":"Saeed Soodi"
}

### Change item

In [8]:
Car["owner"]="Saeed"
print(Car)

{'brand': 'BMW', 'color': 'Yellow', 'year': '2027', 'owner': 'Saeed'}

### Add

In [9]:
Car["price"]="$35,000"
print(Car)

{'brand': 'BMW', 'color': 'Yellow', 'year': '2027', 'owner': 'Saeed', 'price': '$35,000'}

## Key And Values

In [10]:
print(Car.values())

dict_values(['BMW', 'Yellow', '2027', 'Saeed', '$35,000'])

In [11]:
print(Car.keys())

dict_keys(['brand', 'color', 'year', 'owner', 'price'])

In [12]:
print(Car.items())

dict_items([('brand', 'BMW'), ('color', 'Yellow'), ('year', '2027'), ('owner', 'Saeed'), ('price', '$35,000')])

# Sets

### Add Item

In [13]:
a = { 1,2,3}
print(a)

{1, 2, 3}

####  Sets Wont accpet """repeated values""" , for Example we can't add 1,2,3 to set named "a" above!

In [14]:
a.add(3)
print(a)

{1, 2, 3}

In [15]:
a.add(4)
print(a)

{1, 2, 3, 4}

Methods

union

In [16]:
a={1,2,3}
b={4,5}

In [17]:
c= a.union(b)
print(c)

{1, 2, 3, 4, 5}

intersection

In [18]:
c=a.intersection(b)
print(c)

set()

Diffrence

In [19]:
c= a.difference(b)
d= b.difference(a)
print(c,d)

{1, 2, 3} {4, 5}

if condition :
 #code 1
else: 
 #code 2

In [20]:
a= 10
if a>10:
    print("ok")
else:
    print("not ok")

not ok

##Example

In [21]:
user_input_int = int(input("please enter a number"))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
if user_input_int >10 :
    print("more than 10")
else:
    print("less than 10")

more than 10

else if in python is elif

In [ ]:
score1 ,score2 = 7 ,15
if score1>10 and score2>10:
    print("pass")
else:
    print("faild")

faild

# For Loops

In [ ]:
colors=["blue","red","yellow"]
for color in colors:
    print(color)

blue
red
yellow

## Range(start , end , step)

In [ ]:
for item in range(0,10,1):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for item in range(0,len(colors)):
    print(item , colors[item])

0 blue
1 red
2 yellow

## While Loops

In [ ]:
a = 5 
while a>=0:
    a-=1
    print(a)

4
3
2
1
0
-1

## continue pass break

In [ ]:
for item in range(0,10,1):  
    print(item)

    if item==2:
        continue
    elif item ==7:
        break

0
1
2
3
4
5
6
7

## Functions in Py

def function_name (input1 , input2 , ...):
    #code

In [ ]:
def greeting(name):
    print("hello Mr "+ name)

name1="ali"
greeting(name1)

hello Mr ali

In [ ]:
def sum(a,b):
    result=a+b
    return result

a,b=int(input()),int(input())
c= sum(a,b)
print(c)

5

# Class And Objects

### Class

#### 1-attribute

#### 2-Behavior

#### Syntax
Class ClassName:
       # code

In [ ]:
class Person:
     
      name2="name"
      age=0

      def intro(self):
       print(f"hi i am {self.name}")

In [ ]:
Saeed = Person() #object

### Exmp 2

In [ ]:
class Pet:
    def __init__(self,name ,age,type) :
        self.name =name
        self.age=age
        self.type=type

    def eat(self,food):
        print(f"{self.name} is eating {food}")

In [ ]:
p1=Pet("Fandogh",0.3,"bird")
print(p1.name)
print(p1.age)
print(p1.type)

Fandogh
0.3
bird

In [ ]:
p1.eat("Dane")

Fandogh is eating Dane

## pip install package-name

pip install matplotlib

# Error Handling

### try Except

try:
 #code
except:
 #code

In [22]:
try:
    a=120/0
except:
    print("error")

error

In [23]:
try:
    a=10/0
    print(x)
except:
    print("error")

error

In [24]:
try:
    a=10/0
except ZeroDivisionError:
    print("0 is not supported")

0 is not supported

In [25]:
try:
    a=10/2
except ZeroDivisionError:
    print("0 is not supported")
else:
    print("it will execute when we have no error")

it will execute when we have no error

In [26]:
try:
    a=10/0
except ZeroDivisionError:
    print("0 is not supported")
else:
    print("it will execute when we have no error")
finally:
    print("it will execute even having errors")

0 is not supported
it will execute even having errors

## Work With Txt and Csv Files

### .txt

##### Read

file =open("address",mode)
mode can be : r=read , w=write ,a= append

In [27]:
file = open("note.txt","r")
content = file.read()
print(content)
file.close()

line 1
line 2
line 3

#### Append

In [31]:
file = open("note.txt","a")
content= file.write("\nline 4")
file.close()

#### Write

In [32]:
file = open("note.txt","w")
content= file.write("Saeed Soodi")
file.close()

read line by line

In [33]:
file = open("note.txt","r")
c=1
for line in file:
    print(f"{c}=>{line}")
    c+=1

file.close()

1=>line 1

2=>line 2

3=>line 3

4=>line 4

Read & Write

In [34]:
file = open("note.txt","r+")
cc=file.read()
print(cc)
file.write("test")
file.close()

line 1
line 2
line 3
line 4

### .CSV

read

In [36]:
import pandas as pd

In [38]:
df =pd.read_csv("Test.csv")
print(df)

     name  score
0   saeid     20
1   sajad     20
2   hanie     20
3  mobina     19

iloc

In [39]:
print(df.iloc[1])

name     sajad
score       20
Name: 1, dtype: object

In [40]:
print(df.iloc[1][1])

20

C:\Users\10\AppData\Local\Temp\ipykernel_14952\2687260098.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[1][1])

edit

In [41]:
df.iloc[0]=["saeid",19]
print(df)

     name  score
0   saeid     19
1   sajad     20
2   hanie     20
3  mobina     19

Append

In [43]:
print(len(df))

4

In [44]:
df.loc[len(df)] =["test",11]
print(df)

     name  score
0   saeid     19
1   sajad     20
2   hanie     20
3  mobina     19
4    test     11

New Way to Read files:

In [1]:
with open("./assets/note.txt") as file:
    content=file.read()
    print(content)
    file.close()

line 1
line 2
line 3
line 4test

### Make Virtual Enviroment

python-Dir -m venv name-of-venv

or

python-Dir -m pip install virtualenv

# Activating Virtual Env

in terminal write name of the Env example :

p3122\scripts\activate

install pakage on virtual Envs:

for exmple:
pip install numpy==1.25